* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile first */
.page {
  display: flex;
  flex-wrap: wrap;
}
/* FIX THIS!*/
.content-page {
  display: flex;
  width: 75%;
}
.section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  background-color: #5995DA;
  height: 80px;
}
.header {
  background-color: #B2D6FF;
  height: 160px;
}
.content {
  background-color: snow;
  height: 600px;
}
.sidebar {
  height: 0px;
}
.subcontent {
  height: 180px;
}
.feature-1 {
  background-color: #FFF0F5;
}
.feature-2 {
  background-color: #FFFACD;
}
.feature-3 {
  background-color: #D6E9FE;
}
.feature-4 {
  background-color: #E6E6FA;
}
.a {
  padding: 5px;
  margin: 10px;
}
.footer-link {
  width: 33.3%;
  height: 100px;

  color: hotpink;
  background-color: pink;
}
.footer-link:hover,
.footer-link:visited:hover {

  background-color: plum;
}
a {
  text-decoration: none;
  color: black;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #C8C6FA;
  }
}

@media only screen and (min-width: 400px) {
  body {
    background-color: #F09A9D;
  }
  .subcontent {
    width: 50%;
  }
}
